[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
        name = Eric Parshall
        email = eparshall@nav.com
	signingkey = 5744A8902A8DB4C2
[core]
	excludesfile = /Users/eparshall/.gitignore_global
	autocrlf = input
[url "git@git.nav.com:"]
	insteadOf = https://git.nav.com/
[commit]
	gpgsign = false
